body {
    background-image: url(http://i.imgur.com/ev29ExG.jpg);
    width: 100%;
    height: 100vh;
    text-align:center;
}
p.title {
    color:red;
    text-align:center;
}
tr, td.prop{
    border: 1px solid black;
}

table{
    opacity: 0.4;
    background-color:cyan;
    margin: 0 auto;
}

