body {
    background: url(http://i.imgur.com/ev29ExG.jpg) fixed no-repeat;
    background-size: 100% auto;
    background-position: left top;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
p.title {
    color:red;
    text-align:center;
}
td.prop{
    border: 1px solid black;
    padding: 5px;
}

td.title{
    font-size: 14px;
    border: 1px solid black;
    padding: 5px;
}

table{
    opacity: 0.4;
    background-color:cyan;
    margin: 0 auto;
}
footer{
    color:white;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
header{
    background-color:black;
}

