@{
    ViewData["Title"] = "ArcaneHelmet";
}

<html>
<head>
    <meta charset="utf-8" />
    <title>Abilitys</title>
</head>
<body>
    <h1>
        @ViewData["ArcaneHelmet Name"]
    </h1>   
    
    
</body>
</html>