@{
    ViewData["Title"] = "Mod";
}

<html>
<head>
    <meta charset="utf-8" />
    <title>Abilitys</title>
</head>
<body>
    <h1>
        @ViewData["Mod Name"]
    </h1>
    <table>
        <tr>
            <td>
                Rank
            </td>
            <td>
                Drain
            </td>
            <td>
                Effect
            </td>
        </tr>
        @foreach (var rank in ViewData["Ranks"] as List<Warframe.Models.ModRank>)
        {
            <tr>
                <td>
                    @rank.GetRank()
                </td>
                <td>
                    @rank.GetDrain()
                </td>
                <td>
                    @rank.GetEffect()
                </td>
            </tr>
        }
    </table>
</body>
</html>