@{
    ViewData["Title"] = "ModS";
}

<html>
<head>
    <meta charset="utf-8" />
    <title>Abilitys</title>
</head>
<body>

    <div><font color="E5E5E5">___________________________________________________________________________________________________________________________________________________</font></div>
    <div>fuck you</div>
    
</body>
</html>