@{
    ViewData["Title"] = "Arcane";
}

<html>
<head>
    <meta charset="utf-8" />
    <title>Abilitys</title>
</head>
<body>
    <h1>
        @ViewData["Arcane Name"]
    </h1>   
    
</body>
</html>