@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <meta charset="utf-8" />
    <title>HOME</title>
</head>
<body>
    <br>
    @foreach (var item in ViewData["names"] as List<Warframe.Models.Link>)
    {
        <a href=@item.GetLink()>@item.GetText()</a>
        <br>
    }
</body>
</html>