@{
    ViewData["Title"] = "Mod";
}

<html>
<head>
    <meta charset="utf-8" />
    <title>Abilitys</title>
</head>
<body>
    <h1>
        @ViewData["Mod Name"]
    </h1>
    <table>
        <tr>
            <td>
                Rank
            </td>
            <td>
                Drain
            </td>
            <td>
                Effect
            </td>
        </tr>
    </table>
</body>
</html>