@{
    ViewData["Title"] = "Ability";
}

<html>
<head>
    <meta charset="utf-8" />
    <title>Abilitys</title>
</head>
<body>
    <h1><font size="10" <font color="red">Abilitys</font></font><font size="10" <font color="blue"> A-Z</font></font></h1>

    <div><font color="E5E5E5">___________________________________________________________________________________________________________________________________________________</font></div>
    
</body>
</html>